<div class="container">

  <div class="row">
    <img [src]="ImgHeader" alt="Pés no chão em posição de dança.">
  </div>

  <div class="row text-center">
    <h1>TerraDança</h1>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="row">
      <div class="col">
        <a [routerLink]="'/'">INÍCIO</a>
      </div>
      <div class="col">
        <a [routerLink]="'/sobre'">SOBRE</a>
      </div>
      <div class="col">
        <a [routerLink]="'/cursos-on-line'">CURSOS ON-LINE</a>
      </div>
      <div class="col">
        <a [routerLink]="'/para-criancas'">PARA CRIANÇAS</a>
      </div>
      <div class="col">
        <a [routerLink]="'/para-adultos'">PARA ADULTOS</a>
      </div>
      <div class="col">
        <a [routerLink]="'/intervencoes-artisticas'">INTERVENÇÕES ARTÍSTICAS</a>
      </div>
      <div class="col-1">
        <a [routerLink]="'/contato'">CONTATO</a>
      </div>
    </div>
  </nav>
</div>