    <div class="container">
    <div class="row">
        <div class="col"><img src=".\assets\sobre-1-tamara.jpg" width="60%" alt=""></div>
        <div class="col">
            <h5>Seja bem vindx!</h5>
            
            <p>Sou Tamara Romany, dançarina étnica (DRT 0045943/SP)  e pesquisadora (pós-graduada  pela Universidade de São Paulo - USP). </p>
            
            <p>Desenvolvo trabalhos de cunho intercultural em cursos, oficinas e apresentações para públicos variados.  </p>
            
            <p>As danças populares e folclóricas de diversas culturas - principalmente danças ciganas dos Balcãns, danças indianas e danças circulares étnicas - exercem um impacto especial em meus trabalhos de pesquisa, criação e formação, principalmente nos aspectos de fusão entre  dança, música e práticas rituais.</p>
            
            <p>Atuei na coordenação de oficinas de dança e artes integradas para filhos de refugiados e migrantes. Coordenei oficinas de formação em danças circulares e artes integradas para educadores; ministrei o curso Interculturalidade em movimento, no qual apresentei resultados de minhas pesquisas de danças circulares e arquétipos interculturais.</p>     
        </div>
    </div>  
    <div class="row">
        <div class="col">
            <p class="bloco-texto-2">Ofereço workshops e cursos de dança para adultos, tais como "Dança cigana fusion - Ancestralidade, performance e ritual”; “Danças circulares e arquétipos do feminino”, "Gaia Dança", dentre outros; e também as oficinas infantis “Bicho dança” e “Baila Cor”. </p>
            
            <p>Também atuo como co-fundadora, artista e pesquisadora do <a href="https://reinventachao.wordpress.com/" target="_blank">Núcleo Reinventachão</a> (Núcleo de criação e performance em artes integradas).</p>
        </div>
        <div class="col"><img src=".\assets\sobre-2-tamara.jpg" width="70%" alt=""></div>
    </div>
</div>