<div class="container">

    <div class="container">
        <h1>PARA CRIANÇAS</h1>
        <div class="row">
            <div class="col">
                <p>As oficinas e vivências lúdicas abaixo são resultantes de mais de 15 anos de experiência em trabalhos com o universo infantil, incluindo aqui minha pesquisa de mestrado e escrita do livro <i>“Jogo, mimese e socialização – os sentidos do brincar na infância”</i> (Grigorowitschs, Tamara, Alameda Editorial, 2011). </p>
                <p>Nestas oficinas trabalho com a intersecção entre brincar, dança, expressão corporal, manipulação de objetos e contação de histórias.</p>
            </div>
            <div class="col-2">
                <p>Você pode conferir o livro clicando na foto:</p>
                <a href="https://www.amazon.com.br/Jogo-Mimese-Socializa%C3%A7%C3%A3o-Sentidos-Coletivo/dp/8579390907" target="_blank">
                    <p><img src=".\assets\livro-capa-tamara.jpg" width="40%" alt="Capa dp Livro 'Jogo, mimese e socialização – os sentidos do brincar na infância'."></p>
                </a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row text-center">
            <div class="col"><h2>Oficina lúdica: BICHO DANÇA</h2></div>
        </div>

        <div class="row text-center">
            <figure>
                <img src="./assets/bicho-danca.jpg" class="custom-radius" width="50%" alt="Tamara com crianças dançando.">
                <figcaption><i>Foto: Mayara Souto</i></figcaption>
            </figure>
        </div>
        
        <div class="row">
            <p>Oficinas lúdicas de dança para o público infantil (a partir de 3 anos), que trabalha com movimentos, gestualidades, formas e sons inspirados no mundo animal e nos elementos da natureza. Ao longo dos encontros exploramos como diversas culturas incorporam a movimentação e a gestualidade dos animais e de elementos da natureza em suas danças.</p>
            <p>Junto com pequenas histórias e jogos, acompanhados de manipulação de objetos e estímulos sonoros, esse repertório cultural funciona como estímulo inicial para desencadear processos criativos em conjunto com as crianças.</p>
            <p class="text-center">Clique aqui para o projeto completo:</p>
            <div class="col  center-btn">
                <a href="https://reinventachao.files.wordpress.com/2019/05/bichodanccca7a.pdf" target="_blank" class="btn custom-btn"><b>BichoDança (pdf)</b></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">
            <h2>Oficina lúdica: BAILA COR</h2>
            <figure>
                <img src=".\assets\baila-cor.png" class="custom-radius2" width="40%" alt="">
            </figure>
        </div>
        <div class="row">
            <p>Oficinas lúdicas de dança para crianças a partir de 3 anos, que trabalha com a intensidade, leveza, agilidade e o aterramento dos movimentos de acordo com a inspiração das cores. Nessa fase, as crianças estão em processo não apenas de diferenciar cada vez mais cores, mas também de nomeá-las. Isso é feito, em grande parte, na forma de brincadeira. </p>
            <p>Nessa atividade, trabalhamos com as cores primárias e suas derivações (cores quentes, cores frias, cores pastel etc.) e os movimentos que elas evocam.</p>
            <p class="text-center">Clique aqui para o projeto completo:</p>
            <div class="col  center-btn">
                <a href="https://reinventachao.files.wordpress.com/2019/09/baila-cor.pdf" target="_blank" class="btn custom-btn"><b>BAILA COR (pdf)</b></a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <h2 class="text-center">Oficina de criação: OBJETOS DE DANÇAR</h2>
            <figure>
                <img src=".\assets\objetos-de-dancar.png" class="custom-radius centered-image" width="50%" alt="">
            </figure>
            <p>Nesta atividade, nós criamos e construímos objetos lúdicos de dançar, com inspiração em danças étnicas e danças folclóricas de culturas variadas.</p>
            <p>Como materiais disponíveis, utilizamos fitas, argolas, tecidos esvoaçantes, guisos de diversos tipos, apliques para tecidos, etc.</p>
            <p>Ao longo da oficina, contamos pequenas histórias a respeito dos usos desses materiais em danças de diversas culturas, mostrando a relação desses objetos com os símbolos culturais, os mitos e outras representações que ocorrem nas danças folclóricas.</p>
            <p>Após a construção de cada objeto, experimentamos o objeto no corpo, na forma de dança e de movimento. Uma curta história lúdica serve como fio condutor para essas danças.</p>
            <p>Ao final, as crianças levam os objetos criados por elas mesmas para casa.</p>
            <p class="text-center">Clique aqui para o projeto completo:</p>
            <div class="col  center-btn">
                <!--O link abaixo é de um arquivo que ainda não está liberado para visualização pública-->>
                <a href="https://drive.google.com/file/d/1GOHCU0Ja6jbzDvcGlMXIwcq16DDsIB37/view?usp=sharing" target="_blank" class="btn custom-btn"><b>OBJETOS DE DANÇAR (pdf)</b></a>
            </div>
        </div>
    </div>
    
</div>



