<div class="container">
    <div class="row text-center"><h2>Dança e expressão corporal para crianças</h2></div>
    <div class="row text-center">
        <div class="col">
            <img src="\assets\cursos-expressao-corporal-criancas.jpg" width="50%" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>CURSO TOTALMENTE ON-LINE, com aulas gravadas em vídeo, para que cada participante possa fazer no seu próprio ritmo.</p>
            <p>O fio condutor das aulas é o trabalho com movimentos, gestualidades, formas e sons inspirados nos 4 elementos da natureza. Para isso, criamos uma metodologia que articula artes e fazeres integrados: expressão corporal, brincadeira, contação de histórias e manipulação de objetos.</p>
            <p>Ao longo do curso, trabalhamos com os 4 elementos da natureza (terra, fogo, água e ar), realizando exercícios de sensibilização e de criação.</p>
            <p>Na sensibilização exploramos a percepção dos 4 elementos da natureza pelo nosso próprio corpo. Como eu sinto, visualizo e expresso cada um desses elementos com o meu corpo? Quais são as diferenças expressivas que cada elemento me possibilita? Quando eu penso nos elementos, quais imagens me vêm ao pensamento?</p>
            <p>Nos exercícios de criação experimentamos traduzir essas imagens e sensações em expressão corporal. Seja na forma de movimentos, seja na forma de materiais lúdicos para explorar junto com as crianças. Além disso, para amarrar as atividades corporais, vamos criar pequenas histórias que funcionam como fios condutores das atividades de corpo.</p>
            <p>Este curso está voltado para pessoas interessadas em realizar vivências lúdicas com crianças, on-line ou presenciais.</p>
            <p>Link para inscrição no curso e mais informações:</p>
            <div class="center-btn">
                <a href="https://go.hotmart.com/D38680203K?dp=1" target="_blank" class="btn custom-btn">Ir para o Curso <b>Os 4 Elementos da Natureza, o Corpo e a Criança</b></a>
            </div>
        </div> 
    </div>
    <div class="row text-center"><h2>GAIA DANÇA</h2></div>
    <div class="row text-center">
        <div class="col">
            <img src="\assets\cursos-gaia-danca.jpg" width="50%" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Este curso é um chamado à nossa reconexão com a terra e seus ritmos naturais, e ao aprofundamento da nossa conexão com nosso próprio corpo e sua sabedoria natural e intuitiva.</p>
            <p>Um convite para sentir a presença dos 4 elementos da natureza no nosso movimento expressivo. Perceber as sutilezas e especificidades de cada um deles, e nos conectarmos com a essência do fogo, da terra, da água e do ar que existe dentro de cada uma de nós.</p>
            <p>CURSO TOTALMENTE ONLINE, com aulas gravadas em vídeo, para que cada participante possa fazer no seu próprio ritmo.</p>
            <p>Para se inscrever no curso e ter acesso a todas as aulas e materiais disponíveis, clique no link abaixo:</p>
            <div class="center-btn">
                <a href="https://tamararomany.kpages.online/nova-pagina-791433" target="_blank" class="btn custom-btn">Ir para o Curso <b>GAIA DANÇA</b></a>
            </div>
        </div>
    </div>
</div>
