.custom-radius {
    border-radius: 50%;
}

.custom-radius2 {
    
    border-top-right-radius: 20%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 40%;
}

.custom-btn {
    color: #fff;
    background-color: #f35e5e;
}

.center-btn {
    text-align: center;
}