<div class="container">

    <div class="container">
        <h1>PARA ADULTOS</h1>
        <div class="row">
            <p>As danças populares, folclóricas e circulares de diversas culturas – principalmente danças ciganas dos Balcãns, danças indianas e danças circulares étnicas – exercem um impacto especial em meus trabalhos de pesquisa, criação e formação, principalmente nos aspectos de fusão entre  dança, ritmo e práticas rituais.</p>
            <p>Em meus cursos e oficinas de dança, abordo desde aspectos mais técnicos das danças étnicas, com danças coreografadas e performáticas – como é o caso do curso Dança Cigana Fusion – até danças mais livres, de conexão interna e desenvolvimento da livre expressão, como no caso do curso Dança Intuitiva. Mais detalhes abaixo:</p>
        </div>
    </div>

    <div class="container margin-buttom-3">
        <div class="row text-center">
            <h2>DANÇA CIGANA FUSION</h2>
            <h3>Ancestralidade, performance e ritual</h3>
            <figure>
                <img src="\assets\sobre-1-tamara.jpg" class="custom-radius" alt="Tamara dançando.">
                <figcaption><i>Foto: Jean-Charles Mandou</i></figcaption>
            </figure>
        </div>

        <div class="row text-center">
            <p>As aulas do curso partem de um repertório de movimentos e gestualidades de danças ciganas de contextos, culturas, localidades e temporalidades diversos. Aspectos de danças ciganas indianas, balcânicas e russas são algumas dessas referências. São enfatizadas as fusões entre dança, música, performance e ritual, propondo uma retomada contemporânea da inseparabilidade dessas diferentes formas de arte, tão presentes em culturas não-ocidentais, em culturas ancestrais e em culturas populares.</p>
            <div class="col">
                <p>Clique aqui para ver um vídeo com trechos de uma das danças trabalhadas no curso:</p>
            </div>
            <div class="col">
                <p>Clique aqui para ver um vídeo com momentos do curso ministrado no Sesc Bertioga (2019):</p>
            </div>
            <div class="col">
                <p>Clique aqui para o projeto completo:</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col">
                <a href="https://www.youtube.com/watch?v=ZfgZh1Mtl78" target="_blank" class="btn custom-btn">Trechos de uma das danças (YouTube)</a>
            </div>
            <div class="col">
                <a href="https://www.youtube.com/watch?v=mmBds0KadRM" target="_blank" class="btn custom-btn">Sesc Bertioga - 2019 (YouTube)</a>
            </div>
            <div class="col">
                <a href="https://drive.google.com/file/d/1Okhr55ezLh4_09x3OKMSUI0CZ4kxrZNc/view?usp=sharing" target="_blank" class="btn custom-btn">botão</a>
            </div>
        </div>
    </div>

    <div class="container margin-buttom-3">
        <div class="row text-center">
            <h2>GAIA DANÇA – curso online</h2>
        </div>

        <div class="row">
            <p>Este curso é um chamado à nossa reconexão com a terra, seus elementos e ritmos naturais, e ao aprofundamento da nossa conexão com nosso próprio corpo e sua sabedoria natural e intuitiva.</p>
            <p>Os encontros são inspirados em um repertório de movimentos e padrões rítmicos de danças étnicas de culturas variadas (principalmente ciganas e indianas), em suas relações com a natureza, seus elementos essenciais e seus ciclos. O curso é dividido em 4 módulos, nos quais fazemos práticas de dança inspiradas nos 4 elementos da natureza: fogo, terra, água e ar. </p>
            <p class="text-center">Link para o curso:</p>
            <div class="center-btn margin-buttom-3">
                <a href="https://tamararomany.kpages.online/nova-pagina-791433" target="_blank" class="btn custom-btn">Ir para o Curso <b>GAIA DANÇA</b></a>
            </div>
            <figure class="text-center">
                <img src="\assets\cursos-gaia-danca.jpg" width="50%" alt="">
            </figure>
        </div>
    </div>

    <div class="container margin-buttom-3">
        <div class="row text-center">
            <h2>DANÇAS CIRCULARES</h2>
            <figure>
                <img src="\assets\dancas-circulares.jpg" class="custom-radius2" width="50%" alt="Pés dançando em fila.">
            </figure>
        </div>

        <div class="row">
            <p>Oficinas de danças circulares, que oferecem uma aproximação aos fundamentos ritmicos, culturais e filosóficos das danças circulares de culturas variadas. As práticas das danças atuam como instrumento facilitador do potencial criativo individual e coletivo, estimulando a expansão da criatividade, a descoberta de novas potencialidades, movimentos e ritmos individuais, incentivando o processo de auto-conhecimento, a de descoberta de novas possibilidades de expressão, e os processos de criação coletiva.</p>
        </div>
    </div>

</div>
