<div class="container">
    <div class="container margin-buttom-3">
        <div class="row text-center">
            <h1>Intervenções Artísticas</h1>
            <figure>
                <img src="\assets\intervencoes-artisticas.webp" alt="Tamara Romany atuando em uma intervenção artística com Luciano Antonio Carvalho, ao ar livre, apresentando para uma criança.">
            </figure>
        </div>
        <div class="row">
            <p>Intervenções artísticas realizadas dentro das atividades do <a href="http://reinventachao.wordpress.com/" target="_blank">Núcleo Reinventachão</a>, em espaços públicos, centros de cultura, espaços compartilhados etc.:</p>
        </div>
    </div>
    
    <div class="container margin-buttom-3">
        <div class="row">
            <h2 class="text-center">QUINTAL DE ESTAR</h2>
            <p>A intervenção <i>Quintal de estar</i> busca reutilizar o entorno, os espaços compartilhados, as passagens, a calçada e a praça, para realizar outras formas de encontro e interação, principalmente formas de interação artísticas, num jogo que inclui dança, dança circular, canções e outros tipos de música, literatura e manipulação de objetos, numa gostosa brincadeira com artes integradas. Munidos de uma pequena roleta, uma dupla de artistas circula por aí; pessoas ou pequenos grupos são abordados de maneira lúdica e convidados a participar. O sorteio de uma das casas na roleta define qual será a “prenda” que o participante vai receber, na forma de música, dança ou poesia; e ao final da performance, cada participante recebe também um cartão, com a poesia, a música ou referências poético-estéticas da dança realizada. Toda a performance é pensada para transformar qualquer espaço em um “quintal de estar”.</p>
            <figure class="text-center">
                <img src="\assets\quintal-de-estar.jpg" width="50%" alt="Tamara Romany e Luciano Antonio Carvalho dançando e cantando com um trabalhador em uma calçada, no centro de São Paulo.">
            </figure>
        </div>
        <div class="row">
            <p>Repertório:</p>
            <ul class="margin-lista">
                <li>Músicas folclóricas e outras inéditas, especialmente criadas para o <i>Quintal de estar</i>, relacionadas à cultura popular, e executadas ao vivo, com voz, percussão e violão;</li>
                <li>Danças inspiradas em danças de roda e outras danças híbridas (com forte influência indígena e afrobrasileira);</li>
                <li>Poemas, causos, pequenos contos populares, folclóricos ou de autor. Literatura de cordel, Manuel Bandeira, Lenilde Freitas, Fernando Pessoa, são algumas inspirações diretas;</li>
                <li>Receitas de culinária popular. São de comer, mas também podem ser dançadas, cantadas ou virar brincadeira! Naturalmente, os participantes levam a receita para casa, no final.</li>
            </ul>
            <p><i>Quintal de estar</i> é uma intervenção “guarda-chuva”, que abarca diferentes versões, podendo assumir formas diversas de acordo com os propósitos artístico-estéticos do Núcleo Reinventachão.</p>
        </div>
    </div>
    
    <div class="container">
        <div class="row text-center">
            <h2>ABRACADABRA, isto é um quintal!</h2>
        </div>

        <div class="row">
            <p>Versão infantil da intervenção artística <i>Quintal de estar</i></p>
        </div>
    
        <div class="row text-center margin-video">
            <iframe width="675"height="380" src="https://www.youtube.com/embed/x1S1sAz7qHo" title="Abracadabra - teaser 2018 - Núcleo Reinventachão" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>


